<!-- <div class="gris">

</div><br> -->
<!-- 
<div class="containerStatistique container">
    <div class="row">
        <div class="col-md-4 mb-5">
            <div class="statistique shadow-sm p-3 d-flex justify-content-between">
                <div class="chiffre">
                    <h1 class="fw-bold">89</h1>
                    <p class="fw-bold fs-4">Dons</p>
                </div>
                <div class="icone">
                    <i class="bi bi-kanban-fill"></i> 
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="statistique shadow-sm p-3 d-flex justify-content-between">
                <div class="chiffre">
                    <h1 class="fw-bold">78</h1>
                    <p class="fw-bold fs-4">Echanges</p>
                </div>
                <div class="icone">
                    <i class="bi bi-people-fill"></i>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="statistique shadow-sm p-3 d-flex justify-content-between">
                <div class="chiffre">
                    <h1 class="fw-bold">25</h1>
                    <p class="fw-bold fs-4">Annonces</p>
                </div>
                <div class="icone">
                    <i class="fa-solid fa-building-user"></i>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="statistique">
    <!-- ------------------------------ -->
    <div class="bloc">
      <div class="icon-txt">
        <div>
            <i class="bi bi-bag-heart"></i>
        </div>
        <div>
         <p><sup>+</sup> Prestataires</p>
        </div>
      </div>
    </div>
    <!-- ---- -->
    <div class="bloc">
      <div class="icon-txt">
        <div>
            <i class="bi bi-person-raised-hand"></i>
        </div>
        <div>
          <p><sup>+</sup>Clients</p>
        </div>
      </div>
    </div>
    <!-- --- -->
    <div class="bloc">
      <div class="icon-txt">
        <div>
          <i class="bi bi-eye"></i>
        </div>
        <div>
          <p><sup>+</sup>Total: </p>
        </div>
      </div>
    </div>
  </div>
  
  