<!-- <div class="gris">

</div><br> -->

<div class="containerStatistique container">
    <div class="row">
        <div class="col-md-4 mb-5">
            <div class="statistique shadow-sm p-3 d-flex justify-content-between">
                <div class="chiffre">
                    <h1 class="fw-bold">124</h1>
                    <p class="fw-bold fs-4">Projets publiés</p>
                </div>
                <div class="icone">
                    <i class="bi bi-kanban-fill"></i> 
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="statistique shadow-sm p-3 d-flex justify-content-between">
                <div class="chiffre">
                    <h1 class="fw-bold">10200</h1>
                    <p class="fw-bold fs-4">Utilisateurs</p>
                </div>
                <div class="icone">
                    <i class="bi bi-people-fill"></i>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="statistique shadow-sm p-3 d-flex justify-content-between">
                <div class="chiffre">
                    <h1 class="fw-bold">300</h1>
                    <p class="fw-bold fs-4">Communes</p>
                </div>
                <div class="icone">
                    <i class="fa-solid fa-building-user"></i>
                </div>
            </div>
        </div>
    </div>
</div>