
 <!-- SIDEBAR -->


 <section id="sidebar" >
  <a href="#" class="brand">
   
    <img src="../../../assets/logofa.png" alt="" class="logo">
  </a>
  
   
    
  <ul class="side-menu top text-center">
   
    
    
    <li class="" >
      <a  routerLink="utilisateur" routerLinkActive="active"><i class="fa-solid fa-users mx-2" ></i>Utilisateurs</a>
    </li>
    <li class="" routerLinkActive="activeLink">
      <a  routerLink="roles" ><i class="fa-solid fa-scale-balanced mx-2" routerLinkActive="active"></i>Roles</a>
    </li>
    <li class="" routerLinkActive="activeLink">
      <a  routerLink="annonces"><i class="fa-solid fa-triangle-exclamation mx-2"></i>annonces</a>
    </li>
    <li class="" routerLinkActive="activeLink">
      <a  routerLink="article"><i class="fa-solid fa-newspaper mx-2" routerLinkActive="active"></i>articles</a>
    </li>
    <li class="" routerLinkActive="activeLink">
      <a  routerLink="categorie"><i class="fa-solid fa-layer-group mx-2"routerLinkActive="active"></i>categories</a>
    </li>
    <li class="" routerLinkActive="activeLink">
      <a  routerLink="commentaire"><i class="fa-solid fa-comment mx-2" routerLinkActive="active"></i>commentaires</a>
    </li>
    <li class="" routerLinkActive="activeLink">
      <a  routerLink="localite"><i class="fa-solid fa-location-dot mx-2" routerLinkActive="active"></i> localites</a>
    </li>
    <li class="" routerLinkActive="activeLink">
      <a  routerLink="newsletter"><i class="fa-solid fa-envelopes-bulk mx-2" routerLinkActive="active"></i>newsletter</a>
    </li>
    <li>
      <a (click)="logout()" class="logout">
        <i class='bx bxs-log-out-circle' ></i>
        <span class="text">Deconnexion</span>
      </a>
    </li>
  </ul>
</section>

<!-- SIDEBAR -->





