<div class="sidebar">
  <div class="logo-details">
    <i class="bx bxl-c-plus-plus"></i>
    <span class="logo_name">Don&Echange</span>
  </div>
  <ul class="nav-links">
    <li class="" routerLinkActive="activeLink">
      <a class="" href="" routerLink="accueil_admin"><i class="fa-solid fa-house"></i>Dashboard</a>
    </li>
    <li class="" routerLinkActive="activeLink">
      <a href="" routerLink="utilisateur"><i class="fa-solid fa-layer-group"></i>Utilisateur</a>
    </li>
    <li class="" routerLinkActive="activeLink">
      <a href="" routerLink="roles"><i class="fa-solid fa-address-book"></i>Roles</a>
    </li>
    <li class="" routerLinkActive="activeLink">
      <a href="" routerLink="annonces"><i class="fa-solid fa-triangle-exclamation"></i>annonces</a>
    </li>
    <li class="" routerLinkActive="activeLink">
      <a href="" routerLink="article"><i class="fa-solid fa-comment"></i>articles</a>
    </li>
    <li class="" routerLinkActive="activeLink">
      <a href="" routerLink="categorie"><i class="fa-solid fa-newspaper"></i>categories</a>
    </li>
    <li class="" routerLinkActive="activeLink">
      <a href="" routerLink="commentaire"><i class="fa-solid fa-file-invoice"></i>commentaires</a>
    </li>
    <li class="" routerLinkActive="activeLink">
      <a href="" routerLink="localite"><i class="fa-solid fa-file-invoice"></i>localites</a>
    </li>
    <li class="" routerLinkActive="activeLink">
      <a href="" routerLink="newsletter"><i class="fa-solid fa-file-invoice"></i>newsletter</a>
    </li>
    <li class="log_out">
      <a href="#">
        <i class="bx bx-log-out"></i>
        <span class="links_name">Déconnexion</span>
      </a>
    </li>
  </ul>
</div>






















<!-- <div class="sidebar-content">
  <ul class="sidebarMenu">
      <li class="" routerLinkActive="activeLink">
          <a class="" href="" routerLink="accueil_admin"><i class="fa-solid fa-house"></i>Dashboard</a>
      </li>

      <li class="" routerLinkActive="activeLink">
          <a href="" routerLink="utilisateur"><i class="fa-solid fa-layer-group"></i>Utilisateur</a>
      </li>
      <li class="" routerLinkActive="activeLink">
          <a href="" routerLink="roles"><i class="fa-solid fa-address-book"></i>Roles</a>
      </li>
      <li class="" routerLinkActive="activeLink">
          <a href="" routerLink="annonces"><i class="fa-solid fa-triangle-exclamation"></i>annonces</a>
      </li>
      <li class="" routerLinkActive="activeLink">
          <a href="" routerLink="article"><i class="fa-solid fa-comment"></i>articles</a>
      </li>
      <li class="" routerLinkActive="activeLink">
          <a href="" routerLink="categorie"><i class="fa-solid fa-newspaper"></i>categories</a>
      </li>
      <li class="" routerLinkActive="activeLink">
          <a href="" routerLink="commentaire"><i class="fa-solid fa-file-invoice"></i>commentaires</a>
      </li>
      <li class="" routerLinkActive="activeLink">
        <a href="" routerLink="localite"><i class="fa-solid fa-file-invoice"></i>localites</a>
    </li>
    <li class="" routerLinkActive="activeLink">
      <a href="" routerLink="newsletter"><i class="fa-solid fa-file-invoice"></i>newsletter</a>
    </li>
  </ul>


</div> -->

