.container{
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    margin-top: 9rem;
}

.container img{
    width: 100%;
}

input, textarea{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;    border: none;
    border-radius: 5px;
    background-color: #fff;
}

input{
    padding: 8px 15px;
}

.formulaire{
    background-color:#03425b;
    padding-top: 10%;
    border-radius: 5px;
}

form{
    padding: 0 15px;
}

label{
    margin-top: 5px;
}

button{
    background-color:#067A99;
    color: white;
    /* padding: 7px 10px; */
    width: 100%;
    margin-top: 20px;
    padding: 8px 15px;
   margin-bottom: 5%;

}

h3{
    padding: 18px 0;
}

button:hover{
    background-color: blue;
}

*{
    color: white;
}
.imgg{
border: solid 1px rgb(22, 21, 21);
border-radius: 5px;

}
