<app-header></app-header>

<div class="container">
    <div class="imgg">
        <img src="../../../../assets/contact img.png" alt="">
    </div>
    <!-- ------------------ -->
    <div class="formulaire">
        <form action="">
            <h3>Contactez-nous</h3>
            <label>Prenon et nom</label><br>
            <input type="text" name="prenomNom"><br>
            <label>Email</label><br>
            <input type="text"><br>
            <label>Message</label><br>
            <textarea name="" id="" cols="30" rows="4"></textarea><br>
            <button class="btn">Envoyer</button>
            
        </form>
    </div>
</div><br> <br> 

<app-footer></app-footer>