<footer class="footer-section">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6" id="first">
                    <div class="widget company-intro-widget">
                        <a href="#" class="site-logo"><img src="../../../../assets/Logo.png" alt=""></a>
                        <p id ="description logo"> Donner et Echanger en toute &nbsp;&nbsp;&nbsp; Confiance ! </p>

                    </div> 
                </div><!-- first column end -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="widget course-links-widget">
                        <h5 class="widget-title">Liens</h5>
                        <ul class="courses-link-list">
                            
                            <li><a href="#"><i class="fas fa-long-arrow-alt-right"></i>Accueil</a></li>
                            <li><a  [routerLink]="['/a-propos']"><i class="fas fa-long-arrow-alt-right"></i>A-propos</a></li>
                            <li><a [routerLink]="['/CommentCaMarche']"><i class="fas fa-long-arrow-alt-right"></i>Comment ça marche</a></li>
                            <li><a [routerLink]="['/article']"><i class="fas fa-long-arrow-alt-right"></i>Article</a></li>
                            <li><a [routerLink]="['/Contact']" ><i class="fas fa-long-arrow-alt-right"></i>Contactez-nous</a></li>
                        </ul>
                    </div>
                </div><!-- second column end -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="widget latest-news-widget">
                        <h5 class="widget-title">Informations légales</h5>
                        <ul class="courses-link-list">
                            <li><a [routerLink]="['/Confidentialite']" ><i class="fas fa-long-arrow-alt-right"></i>Condition d'utilisation</a></li>
                            <li><a [routerLink]="['/ConditionUtilisation']" ><i class="fas fa-long-arrow-alt-right"></i>Politique de confidentialité</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="widget newsletter-widget">
                        <h5 class="widget-title">Newsletter</h5>
                        <div class="footer-newsletter">
                            <p>Inscrivez-vous à notre newsletter pour recevoir les dernières mise à jour</p>
                            <form class="news-letter-form">
                                <input type="email" name="news-email" id="news-email" placeholder="Email">
                                <input id="envoyer" type="submit" value="Envoyer">
                            </form>
                        </div>
                    </div>
                </div><!--  end -->
            </div>
        </div>
    </div>
    <a id="button"></a>
    <p class="basfooter">@Don&Echanges 2024 Tout droit Reservés</p>

</footer>
