<app-header></app-header><br><br><br><br>


<div class="container">
    <div class="divone">
        <div class="cardone" style="width: 21rem;">
            <img src="../../../../assets/donation.jpg" class="card-img-top" alt="..." >
            <div class="card-body">
              <h5 class="card-title">Donner une seconde vie aux objets</h5>
              <p class="card-text"> vous pouvez   offrir à d'autres membres de la communauté qui pourraient en avoir besoin. Que ce soit des vêtements, des meubles, des appareils électroniques,il y a toujours quelqu'un qui pourrait les utiliser de nouveau </p>
            </div>
          </div>
    
    </div>

    <div class="divtwo">
        <div class="cardone" style="width: 21rem;">
            <img src="../../../../assets/articles img.png" class="card-img-top" alt="..." >
            <div class="card-body">
              <h5 class="card-title">Consommer de manière éthique</h5>
              <p class="card-text">Faites des choix éthiques lors de vos achats, en favorisant les produits durables, équitables et respectueux de l'environnement. Nous vous donnerons des astuces pour réduire votre empreinte écologique.Ensemble,nous pouvons contribuer à un mode de vie plus responsable .</p>
            </div>
          </div>
    
    </div>

    <div class="divtree">
        <div class="cardone" style="width: 21rem;">
            <img src="../../../../assets/aticles img 3.png" class="card-img-top" alt="..." >
            <div class="card-body">
              <h5 class="card-title">Dites adieu aux plastiques jetables</h5>
              <p class="card-text">Découvrez des alternatives aux produits plastiques à usage unique. Nous vous présenterons des idées créatives pour adopter un mode de vie zéro déchet et vous montrez comment choisir des produits réutilisables et respectueux de l'environnement. </p>
            </div>
          </div>
     
    </div>
</div>
<br>
<div class="container">
  <div class="divone">
      <div class="cardone" style="width: 21rem;">
          <img src="../../../../assets/donation.jpg" class="card-img-top" alt="..." >
          <div class="card-body">
            <h5 class="card-title">Donner une seconde vie aux objets</h5>
            <p class="card-text"> vous pouvez   offrir à d'autres membres de la communauté qui pourraient en avoir besoin. Que ce soit des vêtements, des meubles, des appareils électroniques,il y a toujours quelqu'un qui pourrait les utiliser de nouveau </p>
          </div>
        </div>
  
  </div>

  <div class="divtwo">
      <div class="cardone" style="width: 21rem;">
          <img src="../../../../assets/articles img.png" class="card-img-top" alt="..." >
          <div class="card-body">
            <h5 class="card-title">Consommer de manière éthique</h5>
            <p class="card-text">Faites des choix éthiques lors de vos achats, en favorisant les produits durables, équitables et respectueux de l'environnement. Nous vous donnerons des astuces pour réduire votre empreinte écologique.Ensemble,nous pouvons contribuer à un mode de vie plus responsable .</p>
          </div>
        </div>
  
  </div>

  <div class="divtree">
      <div class="cardone" style="width: 21rem;">
          <img src="../../../../assets/aticles img 3.png" class="card-img-top" alt="..." >
          <div class="card-body">
            <h5 class="card-title">Dites adieu aux plastiques jetables</h5>
            <p class="card-text">Découvrez des alternatives aux produits plastiques à usage unique. Nous vous présenterons des idées créatives pour adopter un mode de vie zéro déchet et vous montrez comment choisir des produits réutilisables et respectueux de l'environnement. </p>
          </div>
        </div>
   
  </div>
</div>
<br>



<app-footer></app-footer>

