
 <section class="home-section">
  <nav class="nav-bar">
    <div class="dashboard-icon">
      <i class="bx bx-home-alt"></i>
      <span class="dashboard-text">Dashboard</span>
    </div>
    <div class="search-box">
      <input type="text" placeholder="Search..." />
      <button type="submit"><i class="bx bx-search"></i></button>
    </div>
    <div class="profile-details">
      <div class="profile">
        <img class="imgAdmin" src="https://img.freepik.com/free-photo/culture-typical-elements-collage_23-2150810917.jpg?w=740&t=st=1707387402~exp=1707388002~hmac=10a18f31c8d6c21c8d79880984da214ceaf7c92e07fa5c7fa422ffed785d6075" alt="" />
        <span class="admin_name">Admin</span>
      </div>
      <a href="#" class="notification"><i class="bx bx-bell"></i></a>
    </div>
  </nav>
</section>

