<!-- CONTENT -->
<section id="content" >
  <div class="mb-3">
      <!-- NAVBAR -->
      <nav>
        <i (click)="toggleSidebar()" class='bx bx-menu' ></i>
        <!-- <a href="#" class="nav-link">Categories</a> -->
        <form action="#">
          <div class="form-input">
            <!-- <input type="search" placeholder="Search...">
            <button type="button" class="search-btn"><i class='bx bx-search' ></i></button> -->
          </div>
        </form>
        
        <a href="#" class="profile">
          <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
        </a>
      </nav>
      <!-- NAVBAR -->
  </div>
  <div  class="mb-3">
  <!-- MAIN -->
  <main >
    <div class="head-title">
      <div class="left">
        
        <ul class="breadcrumb">
          <li>
            <a >Dashboard</a>
          </li>
          <li><i class='bx bx-chevron-right' ></i></li>
          <li>
            <a class="active" >Acceuil</a>
          <!-- </li> -->
        </ul>
      </div>
      
    </div>
  
    <ul class="box-info">
      <li class="teteCard shadow">
        <i class='bx bxs-calendar-check ' ></i>
        <span class="text">
          <h3>6</h3>
          <p>Articles</p>
        </span>
      </li>
      <li  class="teteCard shadow">
<i class='bx bxs-category'></i>
        <span class="text">
          <h3>8</h3>
          <p>Categories</p>
        </span>
      </li>
      <li  class="teteCard shadow">
        <i class='bx bxs-megaphone'></i>
        <span class="text">
          <h3>{{tabAnnonce.length}}</h3>
          <p>Annonces</p>
        </span>
      </li>
    </ul>  
  
  </main> 
  </div>
 

</section>
<!-- CONTENT -->






