<app-header></app-header>

    <div class="image container-fluid p-0 ">
      <img src="../../../../assets/ccc.png" alt="" style="width: 100%;height:30%; " class="img-responsive">
      </div>
      <h2 class="premiersoustitreccamarche">Comment ça marche ?</h2><br>

    <div class="container">
     <div class="gauche">
        <h3 class="bolt">CREEZ D’ABORD VOTRE COMPTE</h3>
        <p class="textprocdure">Pour commencer, vous<br> devez créer un compte <br> sur notre plateforme. <br>Cela vous permettra d'accéder à toutes les fonctionnalités et de participer à nos<br> offres et échanges.</p>
     </div>

     <div class="droite">
        <img src="../../../../assets/procéd img.png" alt="" id="proced">
     </div>
  </div><br>
 <h3 class="bolt2">Ensuite <i class="fa-solid fa-arrow-down fa-xl"></i></h3> 

  
  <div class=" divcont3">
    <div class="div divgauche2">
        <h2 class="lessoustitres">Explorez les annonces

        </h2>
        <h6 class="lesptitesdescriptions">
             Parcourez les annonces disponibles sur notre<br> plateforme pour trouver des objets intéressants, des<br> services ou des opportunités d'échange. Utilisez les filtres de recherche<br> pour affiner vos résultats en fonction de vos préférences spécifiques.


        </h6>

    </div>
    <div class="div divdroite2">
        <h2 class="lessoustitres">Contactez les utilisateurs



        </h2>
        <h6 class="lesptitesdescriptions">
            Lorsque vous trouvez une annonce qui vous intéresse, vous pouvez contacter directement l'utilisateur concerné via notre système de messagerie intégré. Posez vos questions, discutez des détails et convenez des modalités de l'échange ou de la transaction


        </h6>
     
        

    </div>

    <div class="div div3">
        <h2 class="lessoustitres">Finalisez l'échange</h2>
        <h6 class="lesptitesdescriptions">
            Une fois que vous et l'autre utilisateur êtes d'accord sur les termes de l'échange, finalisez les détails tels que la date, l'heure et le lieu de rencontre. Assurez-vous de bien comprendre les conditions de l'échange ou de la transaction avant de procéder.


        </h6>

    </div>
</div><br> <br>

<br> <h3 class="bolt2">ENFIN <i class="fa-solid fa-arrow-down fa-xl"></i></h3>  

<!-- 
<div class="container2">

<div class="carte">
    <h2 class="lessoustitres">Donnez votre avis</h2>
    <p class="lesptitesdescriptions">Après avoir conclu une transaction, n'hésitez pas à laisser un commentaire et une évaluation sur l'utilisateur avec lequel vous avez interagi. Cela aide à renforcer la confiance et à guider les autres membres de la communauté dans leurs futurs échanges.

    </p>

  <div class="boltimg">
   <img src="../../../../assets/undraw.png" alt="">

</div>
</div>
</div> -->

<div class="carte">
    <div class="image">
      <img src="../../../../assets/undraw.png" alt="Description de l'image" id="imgundraw">
    </div>
    <div class="contenu">
        <h2 class="lessoustitres">Donnez votre avis</h2>
        <p class="lesptitesdescriptions">Après avoir conclu une transaction, n'hésitez pas à laisser un commentaire et une évaluation sur l'utilisateur avec lequel vous avez interagi. Cela aide à renforcer la confiance et à guider les autres membres de la communauté dans leurs futurs échanges.

      </p>
    </div>
  </div> <br>
  <p class="basdepage">Et maintenant vous avez un objet à donner ou vous voulez faire un échanges ?<br>
    N’hésiter plus Venez vite le proposez sur le site 
   
   </p>









 <app-footer></app-footer>