<div class="sidebar">
    <div class="logo-details">
      <i class="bx bxl-c-plus-plus"></i>
      <span class="logo_name">Don&Echange</span>
    </div>
    <ul class="nav-links">
      <li>
        <a routerLink="/acceuil-admin" class="active">
          <i class="bx bx-grid-alt"></i>
          <span class="links_name">Dashboard</span>
        </a>
      </li>
      <li>
        <a routerLink="/utilisateur">
          <i class="bx bx-user"></i>
          <span class="links_name">Utilisateur</span>
        </a>
      </li>
      <li>
        <a  routerLink="/roles">
          <i class="bx bx-list-ul"></i>
          <span class="links_name">Roles</span>
        </a>
      </li>
      <li>
        <a routerLink="/annonce">
          <i class="bx bx-pie-chart-alt-2"></i>
          <span class="links_name">Annonces</span>
        </a>
      </li>
      <li>
        <a  routerLink="/article">
          <i class="bx bx-coin-stack"></i>
          <span class="links_name">Articles</span>
        </a>
      </li>
      <li>
        <a  routerLink="/categorie">
          <i class="bx bx-book-alt"></i>
          <span class="links_name">Catégories</span>
        </a>
      </li>
      <li>
        <a  routerLink="/commentaire">
          <i class="bx bx-message"></i>
          <span class="links_name">Commentaires</span>
        </a>
      </li>
      <li>
        <a  routerLink="/localite">
          <i class="bx bx-heart"></i>
          <span class="links_name">Localités</span>
        </a>
      </li>
      <li>
        <a  routerLink="/newsletter">
          <i class="fa-solid fa-envelope  "> </i>
          <span class="links_name">Newsletters</span>
        </a>
      </li>
      <li class="log_out">
        <a href="#">
          <i class="bx bx-log-out"></i>
          <span class="links_name">Déconnexion</span>
        </a>
      </li>
    </ul>
  </div>
 