<app-header></app-header>
<main>
    <div class="image container-fluid p-0 ">
      <img src="../../../../assets/image 4 (1).png" alt="" style="width: 100%; " class="img-responsive">
      </div>
      <h3 class="premiersoustitreapropos"><i class="fa-solid fa-diamond -#"></i>&nbsp;A-Propos</h3><br>
      <div class="containerimgtext">
      <div class="droite">
        <img src="../../../../assets/Lmanches.jpg" alt="" >
      </div>
      <p class="gauche">
    Bienvenue sur Don & Echanges service ! <br><br>
      Chez Don & Echanges service  nous croyons en la puissance du partage, de la durabilité et de la communauté. Notre mission est de créer un espace en ligne<br> où les gens peuvent donner, échanger et trouver des objets pour encourager la réutilisation et réduire le gaspillage.
      Nous sommes impatients de vous aider à trouver de nouveaux trésors, à rencontrer des personnes partageant les mêmes idées et à construire ensemble un avenir plus durable. <br>Rejoignez-nous dès aujourd'hui et découvrez la joie du don et de l'échange !
     </p>
    </div>
    </main>
    






<app-footer></app-footer>