main{
    height: 1800px;
    
} 
.img-responsive{
background-color: rgb(221, 224, 226);
}
.premiersoustitreapropos{
    padding-left: 45%;
    padding-top: 3%;
  }
  .containerimgtext{
    display: flex;
  }
  .imgdroite {
    display: grid;
    grid-template-columns: 95%;
    margin-top: 6rem;
    width: 100%;
    border: solid crimson;
    

}
.gauche
{
  font-size: 1.1rem;
  /* font-weight: 600; */
  /* text-align: center; */
  padding-left: 19rem;
  padding-right: 7rem;
  margin-top: 1.5rem;
}
