<app-header></app-header>
<main>
    <div class="image container-fluid p-0 ">
      <img src="../../../../assets/image 4 (1).png" alt="" style="width: 100%; " class="img-responsive">
      </div>
      <h3 class="premiersoustitreapropos"><i class="fa-solid fa-diamond -#"></i>&nbsp;A-Propos</h3><br>
      <div class="containerimgtext">
      <div class="droite">
        <img src="../../../../assets/a propos.png" alt="" height="90%" class="imgapropos">
      </div>
      <p class="gauche">   
    Bienvenue sur Don & Echanges service ! <br><br>
      <!-- Chez Don & Echanges service  nous croyons en la puissance du partage, de la durabilité et de la communauté. Notre mission est de créer un espace en ligne  où les gens peuvent donner, échanger et trouver des objets pour encourager la réutilisation et réduire le gaspillage.<br>
      Nous sommes impatients de vous aider à trouver de nouveaux trésors, à rencontrer des personnes partageant les mêmes idées et à construire ensemble un avenir plus durable. <br>Rejoignez-nous dès aujourd'hui et découvrez la joie du don et de l'échange ! -->
      Chez Don & Echanges service, nous croyons fermement en la puissance du partage, de la durabilité et de la communauté. <br><br> Notre mission est de créer un espace en ligne dynamique et inspirant où les individus peuvent se connecter, donner, échanger et trouver des objets afin d'encourager la réutilisation et de réduire le gaspillage.<br>  

Nous sommes passionnés par la promotion d'un mode de vie responsable et respectueux de l'environnement. En rejoignant notre plateforme,<br>  <br>vous rencontrez des personnes partageant les mêmes idées. Ensemble, nous pouvons construire un avenir plus durable en favorisant une économie circulaire basée sur le partage et la solidarité.
     </p>
    </div>
    <h4 class="carac">CARACTERISTIQUES DE DON&ECHANGES SERVICE</h4 ><br>
      <div class="container"></div>
        <div class="Container_Content_Section3_Cards">
          <div style="width: 18rem;" class="FeatureProduct_card card" data-item="graphic">
            <img class="card-img-top" src="../../../../assets/annonce.jpeg" alt="Card image cap">
            <div class="card-body">
              <h6 class="card-title">.Annonces de dons et d'échanges</h6>
              <p> Les utilisateurs peuvent publier des annonces pour donner des objets dont ils n'ont plus besoin ou rechercher des objets spécifiques en échange</p>

            </div>
          </div>
  
  
  
          <div style="width: 18rem;" class="FeatureProduct_card card" data-item="web">
            <img class="card-img-top" src="../../../../assets/union img.png" alt="Card image cap">
            <div class="card-body">
              <h6 class="card-title">.Communauté engagée</h6>
              <p>Nous encourageons la participation active de notre communauté en permettant aux utilisateurs de se connecter, de partager des conseils et des histoires,du don et de l'échange.</p>
            </div>
          </div>
  
  
  
          <div style="width: 18rem;" class="FeatureProduct_card card" data-item="mobile"id="bougeone">
            <img class="card-img-top" src="../../../../assets/reduction dechet.jpeg" alt="Card image cap">
            <div class="card-body">
              <h6 class="card-title">Réduction des déchets</h6>
                <p>En favorisant le réutilisation d'objets et la réduction des déchets, nous contribuons à préserver l'environnement et à promouvoir un mode de vie .</p>
            </div>
          </div> 
          
          
       </div><br>
       

       <div class="Container_Content_Section4_Cards">
        <div style="width: 18rem;" class="FeatureProduct_card card" data-item="graphic" id="bouge">
          <img class="card-img-top" src="../../../../assets/confidentialité.png " alt="Card image cap">
          <div class="card-body">
            <h6 class="card-title">.Confidentialité et sécurité</h6>
            <p> Nous attachons une grande importance à la confidentialité et à la sécurité des utilisateurs. Nous mettons en place des mesures de protection des données pour assurer une expérience en ligne sécurisée.</p>

          </div>
        </div>



        <div style="width: 18rem;" class="FeatureProduct_card card" data-item="web">
          <img class="card-img-top" src="../../../../assets/wats app.png" alt="Card image cap">
          <div class="card-body">
            <h6 class="card-title">.Système de messagerie intégré </h6>
            <p> Notre plateforme offre un système de messagerie intégré qui facilite les communications entre les utilisateurs pour discuter des détails des échanges ou des dons, garantissant ainsi une expérience fluide et sécurisée.</p>
          </div>
        </div>



        <div style="width: 18rem;" class="FeatureProduct_card card" data-item="mobile">
          <img class="card-img-top" src="../../../../assets/social-media-concept-with-smartphone 8.png" alt="Card image cap">
          <div class="card-body">
            <h6 class="card-title">.Interface conviviale et intuitive </h6>
              <p>Notre plateforme est conçue avec une interface conviviale et intuitive, facilitant la navigation et l'utilisation pour tous les utilisateurs, même les moins expérimentés.</p>
          </div>
        </div> <br> 

        
     </div> <br>
  
 
    <h6 class="tittext">Rejoignez-nous dès aujourd'hui et faites partie de notre communauté de partage et d'échange. <br> Ensemble, nous pouvons créer un impact positif sur notre planète tout en découvrant de nouvelles opportunités et en tissant des liens durables.</h6>

   
    </main><br><br> <br>
    <app-footer></app-footer>
    
    


  
    






