/* .main-content{
    height: 100vh;
    margin: 0;
}

.main-content .navbar{
    border: 1px solid rgb(10, 10, 10);
    margin-left: 2%;
}

.sidebar{
    height: 99vh;
}

.contenuMainAdmin{
    padding: 0;
}

.routerLet{
    overflow: hidden;
    height: 84vh;
    overflow-y: scroll;
    margin-left: 2%;
} */