<div class="main-content">
    <div class="row m-0 p-0 border">
        <div class="sidebar col-12 d-md-block col-md-2 m-0 p-0 ">
            <app-sidebar></app-sidebar>
        </div>
    
        <div class=" m-0 contenuMainAdmin col-12 col-md-10">
            <div class="navbar">
                <app-navbar class="w-100"></app-navbar> 
            </div>
            <div class="routerLet">
                <router-outlet></router-outlet>
            </div>
        </div>
    
    </div>

</div>