<app-header></app-header>

    <div class="image container-fluid p-0 ">
      <img src="../../../../assets/condition img.png" alt="" style="width: 100%;height:30%; " class="img-responsive">
      </div>
      <h3 class="premiersoustitrecondition">CONDITION D’UTILISATION</h3><br>

<p>Veuillez lire attentivement les présentes conditions d'utilisation avant d'utiliser notre plateforme de don et d'échange d'objets utilisables et réutilisables. En utilisant notre plateforme, vous acceptez d'être lié par ces conditions. Si vous n'acceptez pas ces conditions, veuillez ne pas utiliser notre plateforme.</p>
<p class="milieu"> Utilisation de la plateforme</p>
<p>Notre plateforme est destinée à faciliter les dons et les échanges d'objets utilisables et réutilisables entre les utilisateurs. Vous acceptez d'utiliser la plateforme conformément aux lois applicables et de respecter les droits des autres utilisateurs.</p>
<p class="milieu"><p class="milieu">Responsabilité des utilisateurs</p>
<p>Vous êtes responsable de toutes les activités que vous effectuez sur la plateforme, y compris les informations que vous publiez, les communications que vous entretenez avec d'autres utilisateurs et les objets que vous donnez ou échangez. Vous acceptez de ne pas utiliser la plateforme à des fins illégales, frauduleuses, diffamatoires, obscènes ou nuisibles.</p>
<p class="milieu"> Contenu généré par les utilisateurs</p>
<p>Nous nous efforçons de maintenir la plateforme accessible, sécurisée et exempte de contenus inappropriés. Cependant, nous ne pouvons garantir la disponibilité continue de la plateforme ni la véracité, l'exactitude ou la légalité du contenu publié par les utilisateurs. Vous utilisez la plateforme à vos propres risques et nous déclinons toute responsabilité en cas de perte, de dommage ou de préjudice résultant de votre utilisation de la plateforme.</p>
<p class="milieu"><p class="milieu">Responsabilité de la plateforme</p>
<p>Tous les droits de propriété intellectuelle liés à la plateforme (y compris les logos, les marques de commerce, les textes, les graphiques et les images) sont la propriété de la plateforme ou de ses concédants de licence. Vous acceptez de ne pas copier, distribuer, reproduire ou utiliser ces éléments sans autorisation préalable.</p>
<p class="milieu">Modification des conditions d'utilisation</p>
<p>Nous nous réservons le droit de modifier ces conditions d'utilisation à tout moment. Les modifications seront publiées sur cette page avec la date de la dernière mise à jour. Il est de votre responsabilité de consulter régulièrement cette page pour prendre connaissance des éventuelles modifications. Votre utilisation continue de la plateforme après la publication des modifications constitue votre acceptation de ces modifications.</p>



<app-footer></app-footer>