<app-header></app-header>

    <div class="image container-fluid p-0 ">
      <img src="https://t4.ftcdn.net/jpg/07/25/57/59/240_F_725575979_GA8Jtw89Pp9fbe3Zfix1ZNfcbuIw1p91.jpg" alt="" style="width: 100%;height: 3; " class="img-responsive">
      </div>
      <h3 class="premiersoustitreconfidentialité">POLITIQUE DE CONFIDENTIALITE</h3><br>
      <div class="text">
  &nbsp;  &nbsp;  &nbsp; Cette politique de confidentialité décrit comment nous collectons, utilisons et protégeons les informations personnelles que vous nous fournissez lorsque vous utilisez notre &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;plateforme de don et d'échange d'objets utilisables et réutilisables. <br>&nbsp;&nbsp;&nbsp;&nbsp; Nous nous engageons à respecter votre vie privée et à protéger les informations que vous partagez avec nous. Veuillez lire attentivement cette politique de confidentialité pour &nbsp;&nbsp;&nbsp;&nbsp;comprendre comment nous traitons vos données.<br><br>
     <p class="milieu">Collecte d'informations personnelles</p>  <br>
     &nbsp;&nbsp;&nbsp;&nbsp;Lors de votre inscription sur notre plateforme, nous pouvons vous demander de fournir des informations personnelles telles que votre nom, votre adresse e-mail, votre adresse &nbsp;&nbsp;&nbsp;&nbsp;postale et d'autres détails pertinents. Nous collectons également des informations sur les objets que vous donnez ou échangez sur la plateforme.<br><br>
<p class="milieu">Utilisation des informations</p><br>
&nbsp;&nbsp;&nbsp;&nbsp;Nous utilisons les informations que vous nous fournissez pour faciliter le fonctionnement de la plateforme, notamment pour vous permettre de publier des annonces, de &nbsp;&nbsp;&nbsp;&nbsp;communiquer avec d'autres utilisateurs, de trouver des objets disponibles à donner ou à échanger, et de gérer vos échanges. Nous pouvons également utiliser vos informations pour &nbsp;&nbsp;&nbsp;&nbsp;vous envoyer des notifications sur les mises à jour pertinentes ou les nouvelles annonces correspondant à vos critères de recherche.<br><br>
<p class="milieu"> Protection des informations</p><br>
&nbsp;&nbsp;&nbsp;&nbsp;Nous mettons en place des mesures de sécurité appropriées pour protéger vos informations personnelles contre toute perte, utilisation abusive, accès non autorisé, divulgation ou&nbsp;&nbsp;&nbsp;&nbsp; altération. Nous ne vendrons ni ne louerons jamais vos informations à des tiers sans votre consentement explicite.
<p class="milieu">Partage d'informations </p><br>
&nbsp;&nbsp;&nbsp;&nbsp;Dans le cadre de la plateforme, certaines informations que vous fournissez peuvent être visibles par d'autres utilisateurs, par exemple lorsque vous publiez une annonce d'objet à donner ou à échanger. Cependant, nous ne partagerons pas vos informations personnelles identifiables avec des tiers à des fins de marketing ou de publicité sans votre consentement préalable.<br>
<p class="milieu">Liens vers des sites tiers</p><br>
&nbsp;&nbsp;&nbsp;&nbsp;Notre plateforme peut contenir des liens vers des sites web tiers qui ont leurs propres politiques de confidentialité. Nous ne sommes pas responsables du contenu ou des pratiques de confidentialité de ces sites. Nous vous encourageons à consulter les politiques &nbsp;&nbsp;&nbsp;&nbsp;de confidentialité de ces sites web avant de fournir vos informations personnelles.<br> <br>
<p class="milieu">Modifications de la politique de confidentialité</p><br>
&nbsp;&nbsp;&nbsp;&nbsp;Nous nous réservons le droit de mettre à jour cette politique de confidentialité à tout moment. Toute modification sera publiée sur cette page avec la date de la dernière mise à <br>jour.&nbsp;&nbsp;&nbsp;&nbsp; Nous vous encourageons à consulter régulièrement cette page pour vous tenir informé des éventuelles modifications.
</div>
<br> <br>


<app-footer></app-footer>