

    <section class="home-section">
      <nav>
        
      </nav>

      <div class="home-content">
       
<!-- contenu -->





  <!-- tableau gestion des utilisateur -->
  <div class="row">
    <div class="col-lg-12 col-lg-3">
      <div class="card">
        <h5 class="titlelisteuser">Liste des utilisateurs</h5>
        <div class="table-responsive">
          <table class="table table-striped custom-table">
            <thead>
              <tr>
                <th scope="col">Photo</th>
                <th scope="col">Nom complet</th>
                <th scope="col">Adresse email</th>
                <th scope="col">Téléphone</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of tabUser">
                <td><img src="{{ user.photo }}" class="user-photo" alt="Photo utilisateur"></td>
                <td>{{ user.name}}</td>
                <td>{{user.email }}</td>
                <td>{{ user.telephone }}
                </td>
         
                <td>
<button class="btn btn-danger" type="button" (click)="bloqueUser(user.id)" *ngIf="user.is_bloqued===0">Bloquer</button>
<button class="btn btn-primary custom-btn" type="button" (click)="debloqueUser(user.id)" *ngIf="user.is_bloqued===1">Debloquer</button>                  <span style="margin-left: 12px;"></span>
                </td>
              </tr>
          
            </tbody>
          </table>
        </div>
      </div>
    </div>



  </div>






<!-- fin contenu -->





